<h1>Edit Tenant</h1>
<%= render partial: "form", locals: { tenant: @tenant } %>
<p>
  <%= link_to "Delete", @tenant, method: :delete, data: { confirm: "Are you sure you want to delete this tenant?" } %>
</p>
