<% if !user_signed_in? %>

  <!-- HEADER CONTENT STARTS HERE -->
  <header>
    <div class="header-content" id="start-navbar-dark">
      <font color="#663399", size="7" >HomeLockUp</font>
    </div>
      <button class="animated swing about-nav">About Me</button>
  </header>

  <section class="about">
    <div class="about-section">
      <h4> HomeLockUp est une conciairgerie de gestion d'appartement . </h4>
        <p>
          Nous sommes une conciergerie qui gère intégralement vos locations courte durée.
          Annonce, tarifs, réservations, accueil, accompagnement des voyageurs, ménage, linge hôtelier, photos professionnelles,
          notre service complet de conciergerie s'occupe de tout.
        </p>
    </div>
  </section>

<% else %>

  <section class="proprietor">
    <div class="container-fluid">
      <div class="proprietor-section">
        <div class="col-md-12 col-lg-6">
          <% if user_signed_in? %>
            <%if user_session %>
              <div  class="profilepic">
                <% if @proprietor.present?%>
                  <%= link_to 'Espace le proprietaire', proprietor_path(@proprietor.id) %><br>
                  <%= link_to 'ajouter une Maison', new_proprietors_home_path %><br>
                <%else %>
                  <%= link_to 'Cree le proprietaire', new_proprietor_path %>
                <%end %>
              </div>
            <%end %>
          <%end %>
        </div>
      </div>
    </div>
  </section>
<% end %>

<!-- END SECTIONS -->
