/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugins's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap/scss/bootstrap
 *= require bootstrap-datepicker
 */


html,
body {

}

button {
    outline: 0 !important;
}


header {
    background-image: url(./concierge2.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

footer {
    width: 100%;
    bottom: 0;

}

section {
    padding: 40vh 0;
    box-shadow: inset 0 -15px 30px -15px #000;
}

.about {
    font-size: 18px;
    font-weight: 400;
}

.about-nav {
    border-radius: 10px;
    margin-top: 5%;
    margin-left: 45%;
    padding: 10px;
    color: white;
    font-size: 1.1em;
    background-color: rgba(255, 251, 251, 0);
    border-color:#663399;
}

.about-section {
    text-align: center;
}

.about-section button {

}

.about-section button i {
    margin-right: 5px;
}

.about-section button:hover,
.header-content button:hover {
    background: rgba(0, 0, 0, 0.2);
}

.btn-code {
    background: #a7495b;
    border: none;
    color: #FFF;
}

.btn-proj {
    background: #498aa7;
    border: none;
    color: #FFF;
}

.caption h4 {
    font-weight: 700;
}

.contact {
    background: #252525;

    padding: 10px;
    text-align: center;
}

.contact a {
    color: #FFF;
    font-size: 1.3em;
    font-weight: 300;
}

.contact a:hover {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
}

.contact h3 {
    font-size: 2em;
    font-weight: 400;
    width: 250px;
    color: white;
}

.contact i {
    color: #FFF;
    font-size: 1.2em;
    margin-right: 10px;
}

.contact p {
    margin-left: 30%;
    text-align: left;
}

.contact-content {
    margin: 0 auto;
    width: 280px;
}

.creator {
    background: #111;
    padding: 5px;
    text-align: center;
}

.creator p {
    color: #FFF;

    font-size: 16px;
    font-weight: 300;
    margin: 0;
}

.desc-start {
    margin: 20px 0;
}




.header-content {
    padding-top: 25%;
    text-align: center;
}



.profilepic {
    border: 20px solid rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    margin: 65px auto;
    width: 400px;
}

.project-tile {
    padding: 2vh 5%;
}

.project-tile h4 {
    color: #000;
    font-size: 20px;
    font-weight: 400;
}

.projectPills {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 5px;
}

.projectPills span:nth-of-type(4) {
    text-transform: none;
}

.projects {
    box-shadow: inset 0 15px 30px 15px #000;
    background: #a7495b;
    text-align: center;
}

.social-icons {
    font-size: 30px;
    margin-top: 10px;
}

.social-icons i {
    margin: 0 5px;
}

.social-icons i:hover {
    color: rgba(0, 0, 0, 0.2);
}

.tagline {
    text-align: center!important;
}

.technologies,
.techsquares {
    padding: 0;
}

.thumbnail {
    background: #FFF;
    border: none;
}

.thumbnail img {
    width: 100%;
}

.session-nav {
    text-align: right;
}


.f3 {
    -webkit-animation-duration: 0.9s;
    animation-duration: 0.9s;
}

.s3 {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
}

@media (max-width: 1200px) {
    .about-section div img {
        width: 40%;
    }
    .profilepic {
        margin: auto;
    }

}

@media (max-width: 767px) {

    .about-section div img {
        width: 50%;
    }
    .social-icons i {
        margin: 0;
    }
    .fix-footer{
        position: initial;
    }
}


@media(max-width: 605px) {
    .about p {
        width: 354px;
    }
    .about-section div img {
        width: 60%;
    }
    section p {
        font-size: 16px;
    }

}

@media(max-width: 525px) {
    h3 {
        font-size: 32px;
    }
    .about-section div img {
        width: 70%;
    }
    .about {
        padding: 0;
    }
    .contact {
        padding: 50px 0;
    }

}

@media (max-width: 320px) {
    .about p {
        width: 280px;
    }
}



/* Fix Landscape on Mobile */

@media screen and (orientation: landscape) and (max-height: 375px) {
    .header-content button {
        display: none;
    }
    .thumbnail {
        width: 55%;
        margin: 0 auto;
    }
}


/* User sign in and sign forms. */
.border-form-div {
    max-width: 450px;
    padding: 19px 29px 29px;
    margin: 5% auto 20%;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.border-form-div .form-signin-heading,
.border-form-div .checkbox {
    margin-bottom: 10px;
}
.border-form-div input[type="text"],
.border-form-div input[type="email"],
.border-form-div input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}

