<!-- footer -->
<footer class="fix-footer contact ">
  <div class="col-sm-5 col-md-6">
    <div class="contact-content">
      <p><a href="https://www.github.com/Wheatability"><i class="fa fa-github"></i>GitHub</a></p>
      <p><a href="mailto:tylerpurvines@gmail.com"><i class="fa fa-envelope"></i>Email</a></p>
    </div>
  </div>
  <div class="col-sm-7 col-md-6">
    <h3>Let's Get In Touch!</h3>
  </div>
</footer>
