<!-- footer -->
<footer class="contact">
  <div class="col-sm-12 col-md-6">
    <div class="contact-content">
      <h3>Let's Get In Touch!</h3>
      <p><a href="https://www.github.com/Wheatability"><i class="fa fa-github"></i>GitHub</a></p>
      <p><a href="mailto:tylerpurvines@gmail.com"><i class="fa fa-envelope"></i>Email</a></p>
    </div>
  </div>
  <div class="col-md-6">

  </div>


<div class="creator">
  <div class="col-sm-12">
    <p>Page <i class="fa fa-code"></i> with <i class="fa fa-heart"></i> by belette06</p>
  </div>
</div>
</footer>